.button {
  display: inline-flex;
  vertical-align: baseline;
  margin: 0;
  padding: 10px 20px;

  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  color: $color-default-white;
  justify-content: center;

  background-color: $color-transparent;
  border: 4px solid $color-default-white;
  cursor: pointer;
  user-select: none;
  transition: box-shadow 0.3s;
  outline-color: transparent;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &:hover,
  &:focus {
    box-shadow: 0 0 10px $color-default-white;
    transition: all 0.3s;
  }

  &--white {
    padding: 19px 55px;
    justify-self: end;

    &:hover,
    &:focus {
      background-color: $color-default-white;
      color: $color-sapphire;
    }

    @include vp-1199 {
      padding: 19px 30px;
    }

    @include vp-767 {
      width: 100%;
      padding: 20px 30px;
    }
  }

  &--sapphire {
    padding: 26px 46px;
    color: $color-sapphire;
    box-shadow: 0 0 0 2px $color-sapphire inset;
  }
}
