// Colors
// ---------------------------------

// Default

$color-default-black:               #000000;
$color-default-white:               #ffffff;
$color-transparent:                 rgba(255, 255, 255, 0);

// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482

$color-dark-cerulean:               rgba(0, 61, 133, 1);
$color-dark-cerulean-shadow:        rgba(20, 54, 122, 0.5);
$color-venetian-red:                rgba(184, 0, 39, 1);
$color-lucky-point:                 rgba(39, 43, 96, 1);
$color-ghost-white:                 rgba(248, 249, 252, 1);
$color-crimson:                     rgba(209, 10, 66, 1);
$color-crimson-02:                  rgba(209, 10, 66, 0.2);
$color-smalt:                       rgba(0, 53, 159, 1);
$color-torch-red:                   rgba(237, 2, 51, 1);
$color-cobalt:                      rgba(0, 62, 183, 1);
$color-cobalt-2:                    rgba(0, 65, 202, 1);
$color-egyptian-blue:               rgba(16, 58, 174, 1);
$color-sapphire:                    rgba(16, 38, 84, 1);
$color-sapphire-05:                 rgba(16, 38, 84, 0.5);
$color-sapphire-089:                rgba(16, 38, 84, 0.89);
$color-gulf-blue:                   rgba(42, 59, 99, 1);
$color-gulf-blue-02:                rgba(42, 59, 99, 0.2);
$color-spindle:                     rgba(182, 189, 204, 1);
$color-chambray:                    rgba(73, 90, 125, 1);
$color-whisper:                     rgba(232, 232, 232, 1);
$color-resolution-blue:             rgba(28, 51, 116, 1);
$color-persian-blue:                rgba(46, 53, 172, 1);
$color-light-slate-grey:            rgba(116, 129, 156, 1);
$color-black-russian:               rgba(3, 10, 26, 1);
$color-grey-02:                     rgba(120, 120, 120, 0.2);

// Gradient

$black-to-right:                    linear-gradient(90deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 75%);
$crimson-to-smalt:                  linear-gradient(148.82deg, rgba(209, 10, 66, 1) 0.85%, rgba(0, 53, 159, 1) 100%);
$torch-red-to-cobalt:               linear-gradient(97.05deg, rgba(237, 2, 5, 1) 17.6%, rgba(0, 62, 183, 1) 95.31%);
$crimson-to-cobalt-2:               linear-gradient(127.61deg, rgba(209, 10, 66, 1) 0%, rgba(0, 65, 202, 1) 45.58%);


// Typography
// ---------------------------------

// переменная используемая в html для подключения скейлинга
$fz-default:                        16px;

// у некоторых шрифтов в ios возникают проблемы с символом рубля
// https://www.artlebedev.ru/kovodstvo/sections/159/#13
$ff-rouble:                         "Rouble", "Arial", sans-serif;

$ff-roboto-condensed:               "Roboto Condensed", "Arial", sans-serif;
$ff-bebas-neue:                     "Bebas Neue", "Arial", sans-serif;


// Animation
// ---------------------------------

$tf-default:                        ease;
$trans-default:                     0.3s $tf-default;

// если требуется изинг отличный от $tf-default, то переменную называем не цифрой
$trans-modal:                       0.6s cubic-bezier(0.55, 0, 0.1, 1);

$trans-600:                         0.6s $tf-default;

// Viewports
// ---------------------------------

$vp-320:                            320px;
$vp-375:                            375px;
$vp-768:                            768px;
$vp-1024:                           1024px;
$vp-1200:                           1200px;
$vp-1280:                           1280px;
$vp-1440:                           1440px;
$vp-1920:                           1920px;

// Retina
// ---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
